############################
# Build
############################
bin/
obj/

############################
# Visual Studio
############################
.vs/
*.user
*.suo
*.userprefs

############################
# Rider
############################
.idea/

############################
# Logs
*.log

############################
# NuGet
############################
packages/
*.nupkg

############################
# Android
############################
**/bin/Debug/net*-android/
**/bin/Release/net*-android/
*.keystore
*.jks
*.apk
*.aab

############################
# iOS
############################
**/bin/Debug/net*-ios/
**/bin/Release/net*-ios/
*.ipa

############################
# MacCatalyst
############################
**/bin/Debug/net*-maccatalyst/
**/bin/Release/net*-maccatalyst/

############################
# Windows
############################
**/bin/Debug/net*-windows*/
**/bin/Release/net*-windows*/

############################
# MAUI specific
############################
artifacts/

############################
# SQLite local DB
############################
*.db3
*.sqlite
*.sqlite3

############################
# OS
############################
.DS_Store
Thumbs.db